.table {
  width: 1700px;
}

.animal-form-container {
  padding: 20px;
  width: 600px;
  height: max-content or 600px;
  box-shadow: 2px 2px 3px #d6d0d0;

  .field-container{
    display: flex;
    flex-wrap: wrap;

    .animal-form__field {
      padding: 10px;
      height: 100px;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
