<main class="m-5">
  <section>
    <h1>Animal Manager</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="">
        <th scope="col">ID (Key)</th>
        <th scope="col">Common Name</th>
        <th scope="col">Binomial Name</th>
        <th scope="col">Kingdom</th>
        <th scope="col">Phylum</th>
        <th scope="col">Class</th>
        <th scope="col">Order</th>
        <th scope="col">SubOrder</th>
        <th scope="col">Family</th>
        <th scope="col">SubFamily</th>
        <th scope="col">Genus</th>
        <th scope="col">Species</th>
      </thead>
      <tbody *ngFor="let animal of animals">
        <tr class="">
          <td>{{animal.id}}</td>
          <td>{{animal.commonName}}</td>
          <td>{{animal.binomialName}}</td>
          <td>{{animal.kingdom}}</td>
          <td>{{animal.phylum}}</td>
          <td>{{animal.class}}</td>
          <td>{{animal.order}}</td>
          <td>{{animal.subOrder}}</td>
          <td>{{animal.family}}</td>
          <td>{{animal.subFamily}}</td>
          <td>{{animal.genus}}</td>
          <td>{{animal.species}}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="getAnimals()">Get Animals</button>
  </section>

  <section *ngIf="addAnimal">
      <form #addAnimalForm (ngSubmit)="onSubmitAnimalForm()" class="add-animal-container">
        <label for="species">Species: </label>
        <input [(ngModel)]="animalForm.species" class="form-control" name="tempAnimalForm.species" type="text">

        <label for="species">Common Name: </label>
        <input [(ngModel)]="animalForm.commonName" class="form-control" name="tempAnimalForm.commonName" type="text">

        <label for="species">Kingdom: </label>
        <input [(ngModel)]="animalForm.kingdom" class="form-control" name="tempAnimalForm.kingdom" type="text">

        <label for="phylum">Phylum: </label>
        <input [(ngModel)]="animalForm.phylum" class="form-control" name="tempAnimalForm.kingdom" type="text">

        <button class="btn" type="submit">Submit</button>
        </form>
  </section>

  <section *ngIf="deleteAnimal">
    <form #deleteAnimalForm (ngSubmit)="onSubmitDeleteAnimalForm(animalToDelete)" class="delete-animal-container">
      <label for="species">Id: </label>
      <input [(ngModel)]="animalToDelete" class="form-control" name="animalToDelete" type="number">

      <button class="btn" type="submit">Submit</button>
      </form>
</section>
</main>
