<main class="m-5">
  <section>
    <h1>Animal Manager</h1>
    <table class="table table-striped table-hover table-bordered">
      <thead class="">
        <th scope="col">ID (Key)</th>
        <th scope="col">Common Name</th>
        <th scope="col">Binomial Name</th>
        <th scope="col">Kingdom</th>
        <th scope="col">Phylum</th>
        <th scope="col">Class</th>
        <th scope="col">Order</th>
        <th scope="col">SubOrder</th>
        <th scope="col">Family</th>
        <th scope="col">SubFamily</th>
        <th scope="col">Genus</th>
        <th scope="col">Species</th>
        <th></th>
      </thead>
      <tbody *ngFor="let animal of animals$ | async">
        <tr class="">
          <td>{{animal.id}}</td>
          <td>{{animal.commonName}}</td>
          <td>{{animal.binomialName}}</td>
          <td>{{animal.kingdom}}</td>
          <td>{{animal.phylum}}</td>
          <td>{{animal.class}}</td>
          <td>{{animal.order}}</td>
          <td>{{animal.subOrder}}</td>
          <td>{{animal.family}}</td>
          <td>{{animal.subFamily}}</td>
          <td>{{animal.genus}}</td>
          <td>{{animal.species}}</td>
          <td><button class="btn btn-warning" (click)="onClickDeleteAnimal(animal.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section *ngIf="addAnimal">
  <form #addAnimalForm (ngSubmit)="onSubmitAnimalForm()" class="animal-form-container">
    <div class="field-container">
      <div class="animal-form__field">
        <label for="commonName">Common Name: </label>
        <input [(ngModel)]="animalForm.commonName" class="form-control" name="tempAnimalForm.commonName" type="text">
      </div>

      <div class="animal-form__field">
        <label for="binomialName">Binomial Name: </label>
        <input [(ngModel)]="animalForm.binomialName" class="form-control" name="tempAnimalForm.binomialName" type="text">
      </div>

      <div class="animal-form__field">
        <label for="kingdom">Kingdom: </label>
        <input [(ngModel)]="animalForm.kingdom" class="form-control" name="tempAnimalForm.kingdom" type="text">
      </div>

      <div class="animal-form__field">
        <label for="phylum">Phylum: </label>
        <input [(ngModel)]="animalForm.phylum" class="form-control" name="tempAnimalForm.phylum" type="text">
      </div>

      <div class="animal-form__field">
        <label for="class">Class: </label>
        <input [(ngModel)]="animalForm.class" class="form-control" name="tempAnimalForm.class" type="text">
      </div>

      <div class="animal-form__field">
        <label for="family">Family: </label>
        <input [(ngModel)]="animalForm.family" class="form-control" name="tempAnimalForm.family" type="text">
      </div>

      <div class="animal-form__field">
        <label for="genus">Genus: </label>
        <input [(ngModel)]="animalForm.genus" class="form-control" name="tempAnimalForm.genus" type="text">
      </div>

      <div class="animal-form__field">
        <label for="order">Order: </label>
        <input [(ngModel)]="animalForm.order" class="form-control" name="tempAnimalForm.order" type="text">
      </div>

      <div class="animal-form__field">
        <label for="species">Species: </label>
        <input [(ngModel)]="animalForm.species" class="form-control" name="tempAnimalForm.species" type="text">
      </div>
    </div>

    <button class="btn btn-primary animal-form__submit" type="submit">Submit</button>
  </form>
  </section>
</main>
