<div class="navbar p-0 w-100">
  <div class="float-left ms-3">
    <a href="/">
      <img class="logo mx-2" src="https://avatars.githubusercontent.com/u/101534014?v=4">
    </a>
    <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
      Dashboard
    </a>
    <a routerLink="/animal-manager" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
      Animal Manager
    </a>
</div>

  <div class="float-right">
    <a href="https://github.com/leesprojects/ASP-Angular-Animal-App" target="_blank">
      <img class="m-2" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github-asp-angular-animal-app"/>
    </a>
    <a href="https://github.com/leesprojects" target="_blank">
      <img class="m-2"src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github-leesprojects"/>
    </a>
  </div>
</div>
