<header>
  <nav>
    <div class="navbar p-0 w-100">
      <div class="float-left ms-3">
        <a href="/">
          <img class="logo mx-2" src="https://avatars.githubusercontent.com/u/101534014?v=4">
        </a>
        <a routerLink="/dashboard-staff" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Dashboard
        </a>
        <a routerLink="/animal-manager" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Animal Manager
        </a>
        <a routerLink="/booking-creator" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Create Booking
        </a>
        <a routerLink="/booking-manager" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Manage Bookings
        </a>
    </div>

      <div class="float-right">
        <a routerLink="/account-creator" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Create Account
        </a>
        <a routerLink="/account-manager" routerLinkActive="active" class="btn btn-primary p-2 mx-2">
          Manage Account
        </a>
        <a href="https://github.com/leesprojects/ASP-Angular-Animal-App" target="_blank">
          <img class="m-2" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github-asp-angular-animal-app"/>
        </a>
        <a href="https://github.com/leesprojects" target="_blank">
          <img class="m-2"src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github-leesprojects"/>
        </a>
      </div>
    </div>
  </nav>
</header>
