.experiments-container {
  display: flex;
  // flex-direction: column;
  padding: 30px;

  .experiment {
    padding: 20px;
    margin: 10px;
    width: 25%;
    height: max-content;
    box-shadow: 2px 2px 5px  #dddedf;
  }
}
